<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>temelj</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Francois+One|Raleway|Shrikhand" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand bos" href="index.html" style="font-size: 60px; color: #66ccff">temelj</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="shelter.html">kućište<span class="sr-only">(current)</span></a></li>
				<li><a href="food.html">hrana</a></li>
				<li><a href="medicine.html">Medicinska pomoće</a></li>
				<li><a href="service.html">usluge podrške</a></li>
				<li><a href="qr.html">identifikacija</a></li>
				<li id="phone" class="img-rounded"><span class="glyphicon glyphicon-earphone"></span> (314) 207-0408</li>
			  </ul>
			</div>
		  </div>
		</nav>
      <div class="row picture">
          <div class="col-md-12 center">
          </div>
      </div>
      <div class="row circles">
          <div class="col-md-2 three1 img-circle">
              <h1 class="extra forf"><a href="food.html">hrana</a></h1>
              <img src="food2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
          <div class="col-md-2 three img-circle">
              <h1 class="extra forf"><a href="shelter.html">
kućište</a></h1>
              <img src="house2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
          <div class="col-md-2 three img-circle">
              <h1 class="forf"><a href="medicine.html">
Medicinska pomoće</a></h1>
              <img src="truck2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
          <div class="col-md-2 three img-circle">
              <h1 class="forf"><a href="service.html">usluge podrške</a></h1>
              <img src="helpinghand2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
      </div>
      <div class="row numberr">
          <div class="col-md-12 phonenumber">
              <p class="number">
Poziv za audio:<br>(314) 207-0408</p>
          </div>
      </div>
      <div class="row info">
          <div class="col-md-5">
              <p class="part1">
                 Tko smo mi?
              </p>
              <hr style="width: 1px; height: 20px; display: inline-block;">
          </div>
          <div class="col-md-5">
              <p class="text1">
                    Naš cilj je da vam pomoći da se povežete sa resursima i resursima povezivanje sa tobom. Naše ime, fondacija, zasniva se na stabilizaciju jak doma, jake porodice, i snažan život. Želimo da pokušamo i učiniti vaš život malo lakše pružanjem usluga koje će vam pomoći da sleti na noge.
              </p>
          </div>
      </div>
      <div class="row language">
          <div class="col-md-12">
              <a href="index.html"><button type="submit" class="btn btn-default"><img src="america.png" alt="Mountain View" style="width:25px;height:20px;"> English</button></a>
               <a href="espagnol.html"><button type="submit" class="btn btn-default"><img src="spanish-flag.png" alt="Mountain View" style="width:25px;height:20px;"> Español</button></a>
               <a href="francais.html"><button type="submit" class="btn btn-default"><img src="Flag_of_France.svg.png" alt="Mountain View" style="width:25px;height:20px;"> Français</button></a>
          </div>
      </div>
    </body>
   <footer>
       <center><p>Ručno kodirano <span class="glyphicon glyphicon-heart"></span> sa Smart Kookies 2016</p></center>
   </footer>
</html>
