<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Fondation</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Francois+One|Raleway|Shrikhand" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand fs" href="index.html" style="font-size: 60px; color: #66ccff">Fondation</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="shelter.html">Logement<span class="sr-only">(current)</span></a></li>
				<li><a href="food.html">Nourriture</a></li>
				<li><a href="medicine.html">Aide médicale</a></li>
				<li><a href="service.html">Services de soutien</a></li>
				<li><a href="qr.html">Identification</a></li>
				<li id="phone" class="img-rounded"><span class="glyphicon glyphicon-earphone"></span> (314) 207-0408</li>
			  </ul>
			</div>
		  </div>
		</nav>
      <div class="row picture">
          <div class="col-md-12 center">
          </div>
      </div>
      <div class="row circles">
          <div class="col-md-2 three1 img-circle">
              <h1 class="extra forf"><a href="food.html">Nourriture</a></h1>
              <img src="food2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
          <div class="col-md-2 three img-circle">
              <h1 class="extra forf"><a href="shelter.html">Logement</a></h1>
              <img src="house2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
          <div class="col-md-2 three img-circle">
              <h1 class="forf"><a href="medicine.html">
Aide médicale</a></h1>
              <img src="truck2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
          <div class="col-md-2 three img-circle">
              <h1 class="forf"><a href="service.html">Services de soutien</a></h1>
              <img src="helpinghand2.png" alt="Mountain View" style="width:100px;height:100px;">
          </div>
      </div>
      <div class="row numberr">
          <div class="col-md-12 phonenumber">
              <p class="number">
Appelez ici pour audio:<br>(314) 207-0408</p>
          </div>
      </div>
      <div class="row info">
          <div class="col-md-5">
              <p class="part1">
                  Qui sommes nous?
              </p>
              <hr style="width: 1px; height: 20px; display: inline-block;">
          </div>
          <div class="col-md-5">
              <p class="textlanguage">
                    Notre objectif est d'aider à vous connecter à des ressources et des ressources de connexion pour vous. Notre nom, la Fondation, est basée sur la stabilisation d'une maison forte, famille forte, et la vie forte. Nous voulons essayer de faire de votre vie un peu plus facile en fournissant des services qui vous aideront à atterrir sur vos pieds.
              </p>
          </div>
      </div>
      <div class="row language">
          <div class="col-md-12">
              <a href="index.html"><button type="submit" class="btn btn-default"><img src="america.png" alt="Mountain View" style="width:25px;height:20px;"> English</button></a>
               <a href="espagnol.html"><button type="submit" class="btn btn-default"><img src="spanish-flag.png" alt="Mountain View" style="width:25px;height:20px;"> Español</button></a>
              <a href="bosnian.html"> <button type="submit" class="btn btn-default"><img src="bosnia.png" alt="Mountain View" style="width:25px;height:20px;"> Bosanski</button></a>
          </div>
      </div>
    </body>
   <footer>
       <center><p>Main codée avec <span class="glyphicon glyphicon-heart"></span> par Smart Kookies 2016</p></center>
   </footer>
</html>
