<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Foundation</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Francois+One|Raleway|Shrikhand" rel="stylesheet">
    <meta charset="UTF-8">
    <title>QR Code</title>
  </head>
  <body>
        <nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="index.html" style="font-size: 60px; color: #66ccff">Foundation</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="shelter.html">Housing<span class="sr-only">(current)</span></a></li>
				<li><a href="food.html">Food</a></li>
				<li><a href="medicine.html">Medical Help</a></li>
				<li><a href="service.html">Support Services</a></li>
				<li><a href="qr.html">Identification</a></li>
				<li id="phone" class="img-rounded"><span class="glyphicon glyphicon-earphone"></span> (314) 207-0408</li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div id ="qrCode" class="container instructions">
		    <h1 class="part3"> How to use QR Code Identification</h1>
		    <p class= "size">1. Select the "Contact" option.</p>
		    <p class= "size">2.Fill out the prompted form with all information you are comfortable sharing.</p>
		    <p class="size">3. When you are finished filling out the form, select "QR Create."</p>
		    <p class="size">4. Select "Download."</p>
		    <p class="size">5. After downloading, you have the availablity to print your unique code at a library or <br>anywhere printing is available or have it avalible on your devices.</p>
		    <p class="size">When you seek services or housing, you can present this QR code for the agencies <br>to scan and track progress to better assist you and others. </p>

		</div>
	<div class ="widget">
	    <iframe src="http://qrickit.com/qrickit_apps/qrickit_widget_home.php" width="250" height="490" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" paddingtop="20pt"></iframe>
	    </div>
	    </body>
</html>
