<html>
  <head>
    <title> You Got:breakfast! </title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
  </head>
    <body>
    <div class="container">
    <h1 class="header">Cranberry Oatmeal Cookies</h1>
<ul class="ingredients">
  <li class="ingredient-item">
    <span class="badge">2 cups</span>
    rolled oats
  </li>
  <li class="ingredient-item">
    <span class="badge">2</span>
    ripe bananas
  </li>
  <li class="ingredient-item">
    <span class="badge">1 cup</span>
    unsweetend applesauce
  </li>
  <li class="ingredient-item">
    <span class="badge">1/3 cup</span>
    unsweetened, dried cranberries (or raisins, or chopped dried apricots)
  </li>
  <li class="ingredient-item">
    <span class="badge">1 tsp</span>
    vanilla extract
  </li>
</ul>
<center><div class="recipe-group">
  <br><button type="button" class="recipe-item">Preheat oven to 350 degrees.</button>
  <br><button type="button" class="recipe-item">Mix together all ingredients until well combined.</button>
  <br><button type="button" class="recipe-item">Line a cookie sheet with parchment paper, or use a baking stone.</button>
  <br><button type="button" class="recipe-item">Using a small cookie scoop, drop dough onto the the cookie sheet, and then flatten into round shapes.</button>
  <br><button type="button" class="recipe-item">Bake approx. 20 – 25 minutes, or until golden.</button>
  <br><button type="button" class="recipe-item">Remove from oven & let rest on cookie sheet for 5 minutes and then move to cooling rack.</button>
</div></center>
<a href="http://www.kyleecooks.com/healthy-cranberry-oatmeal-breakfast-cookies/">
<img border="0" alt="Cranberry Oatmeal Cookie" src="http://www.kyleecooks.com/wp-content/uploads/2016/10/Healthy-Breakfast-Cookies-4-v.jpg">
</a>
      <!-- <button class= "new"> Find a new recipe! </button> -->
  </div>
      <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
