<html>
  <head>
    <meta charset="UTF-8">
    <title>Cookie Book</title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1 class="header">Cookie Book</h1>

      <h4 class="caption"> Find which cookie to bake!</h4>
      <div class="question">
      <form action="/results" method="post">
      <h2>What is this cookie for?</h2>
        <input type="radio" name="meal" value="3">Dessert!<br>
        <input type="radio" name="meal" value="2">Snack<br>
        <input type="radio" name="meal" value="1">Breakfast
        <h2>What flavor do you want this cookie to be?</h2>
        <input type="radio" name="flavor" value="1">Salty<br>
        <input type="radio" name="flavor" value="2"> Fruity<br>
        <input type="radio" name="flavor" value="3">Sweet<br>
        <h2> Do you want this cookie this cookie to contain any of one of these ingrediants? </h2>
          <input type="radio" name="thing" value="1" >Fruit<br>
          <input type="radio" name="thing" value="3">Chocolate <br>
          <input type="radio" name="thing" value="2">Nuts<br>
        <h2> How experienced are you with baking?</h2>
<br>

          <input type="radio" name="skill" value="A" >I'm an expert

        <input type="radio" name="skill" value="B"> I've baked a bit <br>
          <input type="radio" name="skill" value="C">I've never baked anything really
            <br>
          <button type = "submit" class="new"> Let's bake! </button>
      </form>
    </div>
  </div>

  </body>
</html>
