
      <html>
        <head>
          <title> You Got:snack! </title>
            <link rel="stylesheet" type="text/css" href="css/styles.css">
        </head>
          <body>
            <h2 class="dif"> Snack</h2>
      <br><br><br><br><br>
            <button> Generate new result </button>
          </body>
      </html>
